@{
    ViewData["Title"] = "Ristorante Aziendale";
}

<div class="container py-5 text-center">
    <h1 class="display-4 text-primary"><i class="fa-solid fa-utensils me-3"></i>Ristorante</h1>
    <p class="lead">Prenota il tuo tavolo per la pausa pranzo.</p>
    
    <div class="alert alert-info mt-4">
        Qui prossimamente caricheremo la mappa dei tavoli usando Vue.js
    </div>
</div>